* {
    font-family: 'Poppins', sans-serif ;
}

body {
    margin: 0;
    
}

nav {
    background-color: #e0e0e0;
    display: flex ;
    font-weight: bolder;
    height: 7vh;
}

nav .left-side {
    flex: 50%;
    align-items: center;
    display: flex;
    padding-left: 90px;
}

nav .left-side ul {
    display: inline;
    
}

nav .left-side ul li {
    display: inline;
    margin-left: 40px;
    
}

nav .left-side a{
    text-decoration: none;
    color: black;
}

nav .left-side .list-active {
    color: rgb(255, 149, 61);
}

nav .right-side {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px ;
}

nav .right-side a {
    background-color: rgb(255, 149, 61);
    text-decoration: 0;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
}

.container-form {
    display: flex;
    justify-content: center;
    height: 93vh;
    align-items: center;
}